Django==1.11.23
Pillow==6.2.0
PyJWT==1.4.0
South==1.0.1
dj-database-url==0.3.0
dj-static==0.0.6
django-classy-tags==0.6.2
django-cms==3.0.13
django-extensions==1.5.7
django-floppyforms==1.4.0
django-ipware==0.1.0
django-mptt==0.6.1
django-phonenumber-field==0.6
django-pipeline==1.5.0
django-sass-processor==0.2.2
django-sekizai==0.8.2
djangocms-admin-style==0.2.8
djrill==1.2.0
facebook-sdk==0.4.0
futures==3.0.3
gunicorn==19.5.0
html5lib==0.9999999
jsonfield==1.0.0
libsass==0.8.0
oauthlib==1.0.3
phonenumbers==7.0.4
psycopg2==2.5.2
python-openid==2.2.5
python-social-auth==0.2.13
pytz==2014.10
requests==2.20.0
requests-oauthlib==0.5.0
simplejson==3.6.5
six==1.8.0
static3==0.5.1
waitress==0.8.9
wsgiref==0.1.2
