{% extends "admin/base.html" %}
{% load staticfiles %}
{% block localhead %}
    <link rel="stylesheet" href={% static "css/jquery.datetimepicker.css" %}>
    <script src={% static "js/jquery-2.1.1.js" %}></script>
    <script src={% static "js/jquery.datetimepicker.js" %}></script>
{% endblock localhead %}
{% block content %}
    <div class='page-container container list-table'>
    <h1><a href={% url 'home' %} class='link main-back'><</a></h1>

        <h1><span class='jobId'>Create a New Carpool</span></h1>

    <div class="hora-job-form">
        <div class='row'>
        <div class="col-md-6">

    <form action="" method="post">{% csrf_token %}

    {{carpool_form.as_p}}

    </div>
         </div>
    </div>
    <button type="submit" class="btn btn-default submit">Share my ride!</button>
    <!-- eo hora-job-form -->
    </div>
{% endblock content %}

{% block scripts %}
  <script type="text/javascript">
        jQuery('.dateTimePicker').datetimepicker();
    </script>
{% endblock scripts %}