{% extends "admin/base.html" %}
{% load urlize_target_blank %}
{% block content %}
    <div class='page-container container landing-table'>
    <h1><a href={% url 'home' %} class='link main-back'><</a></h1>
        <h1>Recent Carpools</h1>

    <div class="hora-table">
        
    <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Vehicle</th>
                    <th>Route</th>
                    <th>Pickup Around</th>
                    <th>Seats</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </tr>
            </thead>
     
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Vehicle</th>
                    <th>Route</th>
                    <th>Pickup Around</th>
                    <th>Seats</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </tr>
            </tfoot>
     
            <tbody>

            {% for carpool in carpools %}
                <tr>
                    <td>{{carpool.id}}</td>
                    <td>{{carpool.get_vehicle_type_display}}</td>
                    <td>{{carpool.route}}</td>
                    <td>{{carpool.start_datetime}}</td>
                    <td>{{carpool.occupancy}}</td>
                    {% if 'http://' in carpool.remarks %}
                            <td>{{carpool.remarks | urlize_target_blank }}</td>
                    {% elif 'https://' in carpool.remarks %}
                        <td>{{carpool.remarks | urlize_target_blank}}</td>
                    {% else %}
                    <td>{{carpool.remarks}}</td>
                    {% endif %}
                    <td>
                        {% if carpool.tp_url %}
                            <a target="_blank" href="{{carpool.tp_url}}"><button class='table-job-check'>Details</button></a>
                        {% else %}
                            <a href="{% url 'viewCarpool' carpool_id=carpool.carpoolref %}"><button class='table-job-check'>Details</button></a>
                        {% endif %}
                        {% if user.is_superuser %}
                        <a href="{% url 'viewCarpool' carpool_id=carpool.carpoolref %}"><button class='table-job-check'>EditLink</button></a>
                        {% endif %}
                    </td>
                </tr>                
            {% endfor %}                
            </tbody>
        </table>

    </div>
    <!-- eo hora-table -->

    </div>
{% endblock content %}
{% block scripts %}
    
    
<script>
  $(document).ready(function() {
    $('#example').DataTable( {
      responsive: true,
      "bFilter": false,
      "order": [[ 0, "desc" ]],
      "columnDefs": [
        { "width": "20%", "targets": 3 },
      ]
  } );
} );
</script>
{% endblock %}