{% extends "admin/base.html" %}
{% load urlize_target_blank %}
{% block content %}
<div class="container">
    

        <div class='banner-container'>
            <div class="row">
            <form action={% url 'carpoolSearchDetail' %} method='POST' role="search">{% csrf_token %}
            <h1 class="banner-title">हाम्रो मानवीयता जिउदै छ.....सिट खाली छ ! Where do you want to go ?</h1>
            <div class="input-group">
              <input type="text" name="route" class="typeahead form-control" placeholder="Enter your location of interest for carpooling .... ">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default" type="button">Find me a ride!</button>
              </span>
            </div><!-- /input-group -->
            </form>
        </div>
        </div>
    <div class='page-container container landing-table'>

    <h1><a href={% url 'home' %} class='link main-back'><</a></h1>
        <h1>Recent Carpools</h1>

    <div class="hora-table">
        
    <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    {% if user.is_superuser %}
                        <th>ID</th>                        
                    {% endif %}
                    <th>Pickup Around</th>
                    <th>Vehicle</th>
                    <th>Route</th>
                    <th>Seats</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </tr>
            </thead>
     
            <tfoot>
                <tr>
                    {% if user.is_superuser %}
                        <th>ID</th>                        
                    {% endif %}
                    <th>Pickup Around</th>
                    <th>Vehicle</th>
                    <th>Route</th>
                    <th>Seats</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </tr>
            </tfoot>
     
            <tbody>

            {% for carpool in carpools %}
                <tr>
                    {% if user.is_superuser %}
                    <td>{{carpool.id}}</td>
                    {% endif %}
                    <td>{{carpool.start_datetime|date:'M-d H:i'}}</td>
                    <td>{{carpool.get_vehicle_type_display}}</td>
                    <td>{{carpool.route | truncatechars:40 }}</td>
                    <td>{{carpool.occupancy}}</td>
                    <td>{{carpool.remarks | truncatechars:40 }}</td>
                    <td>
                        {% if carpool.tp_url %}
                            <a target="_blank" href="{{carpool.tp_url}}"><button class='table-job-check'>Details</button></a>
                        {% else %}
                            <a href="{% url 'viewCarpool' carpool_id=carpool.carpoolref %}"><button class='table-job-check'>Details</button></a>
                        {% endif %}
                        {% if user.is_superuser %}
                        <a href="{% url 'viewCarpool' carpool_id=carpool.carpoolref %}"><button class='table-job-check'>EditLink</button></a>
                        {% endif %}
                    </td>
                </tr>                
            {% endfor %}                
            </tbody>
        </table>

    </div>
    <!-- eo hora-table -->

    </div>
{% endblock content %}
{% block scripts %}
{% if user.is_superuser %}
    <script>
      $(document).ready(function() {
        $('#example').DataTable( {
          responsive: true,
          "order": [[ 0, "desc" ]],
          "columnDefs": [
            { "width": "5%", "targets": 0 },
            { "width": "5%", "targets": 1 },
            { "width": "15%", "targets": 2 },
            { "width": "15%", "targets": 3 },
          ]
      } );
    } );
    </script>
{% else %}
    <script>
      $(document).ready(function() {
        $('#example').DataTable( {
          responsive: true,
          "order": [[ 0, "asc" ]],
          "columnDefs": [
            { "width": "15%", "targets": 0 },
            { "width": "5%", "targets": 1 },
            { "width": "25%", "targets": 2 },
            { "width": "15%", "targets": 3 },
          ]
      } );
    } );
    </script>
{% endif %}
{% endblock %}