{% load pipeline %}
{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>Seatkhalicha!</title>
    <!--Montserrat font css-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--Montserrat font css -->

    <!--Source sans pro font css-->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <!-- Meta Property -->
    <meta property="og:title" content="Seatkhalicha" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.seatkhalicha.com" />
    <meta property="og:image" content="http://www.seatkhalicha.com/static/img/carpool.png" />
    <link rel="image_src" type="image/jpeg" href="http://www.seatkhalicha.com/static/img/carpool.png" />
    <!--Source sans pro font css-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    {% stylesheet 'web_yellow' %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-860642-4', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<style>


@media screen and (max-width: 960px)
{

}
</style>

<body id='top'>
    <!--Float right Start-->
    <div class="wrapper">
    <div class='brand'>
        <div class='brand-logo'>
            <img class='logo big' src={% static 'img/carpool.png' %}>
        </div>
        <h1 class="brand-name">
            <span class="the">&nbsp;&nbsp;</span>
            <span class="handyman">  शेयर गरौँ, सहयोग गरौँ … मित्रता बढाउँ। </span>
            <span class="the">&nbsp;&nbsp;</span>
            <span class="handyman">  सिट खाली छ ।</span>

        </h1>

    </div>

        <!-- eo brand -->
        <!-- video -->
        <div class="mobile">
            <div class="contents">
                <div class="links">
                    <ul>
                        <li> <a href="{% url 'signin' %}">Click here to start carpooling!</a> </li>
                        {% comment %}
                            <li> <a href="{% url 'faq' %}">FAQs</a> </li>                   
                        {% endcomment %}
                        <!-- <li> <a href="FAQ">Social</a> </li> -->
                    </ul>

                </div>
                <footer>
                    <div class="btn">
                        <div class="register">
                            Got a vacant seat? <br>
                            Share it and help the needy!<br>    
                        </div>

                    </div><br>
                    <p>Amidst all this fuel crisis and chaos, this is a small effort to help you get a ride. A friend in need is a friend indeed!</p><br><br>
                    <p>**By continuing you agree to the terms and conditions!</p>
                    {% comment %}
                        <div class='social'>
                            <ul>
                                <li><a href='http://facebook.com/homerepairapp' target='_blank'> <img src={% static 'img/fb.png' %}></a></li>
                                <li><a href='http://twitter.com/homerepairapp' target='_blank'> <img src={% static 'img/tw.png' %}></a></li>

                            </ul>
                        </div>
                    {% endcomment %}
                </footer>
            </div>

            <!-- eo content -->


        </div>
        <!--Float right End-->
</body>
<script type="text/javascript" src={% static 'js/web_yellow.js' %}></script>
<script type="text/javascript" src={% static 'js/popup.js' %}></script>
</html>
