{% extends "admin/base.html" %}
{% load pipeline %}
{% load staticfiles %}
{% load urlize_target_blank %}
{% block localhead %}
{% stylesheet 'home' %}
{% endblock localhead %}
{% block content %}
<div class='container'>
    <div class='banner-container'>
        <div class="row">
        <form action={% url 'carpoolSearchDetail' %} method='POST' role="search">{% csrf_token %}
        <h1 class="banner-title">हाम्रो मानवीयता जिउदै छ.....सिट खाली छ ! Where do you want to go ?</h1>
        <div class="input-group">
          <input type="text" name="route" class="typeahead form-control" placeholder="Enter your location of interest for carpooling .... ">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" type="button">Find me a ride!</button>
          </span>
        </div><!-- /input-group -->
        </form>
        </div>
            <div class="col-md-4">
                <a href="{% url 'listAllCarpools' %}" class="btn-big btn-plain-alt btn-xxlarge btn-hire banner-hire">
                    See all carpools
                </a>
            </div>
            <div class="col-md-4">
                <a href="{%url 'createCarpool' %}" class="btn-big btn-plain-alt btn-xxlarge btn-work banner-work">
                    Share a carpool
                </a>
            </div>
            <div class="col-md-4">
                <a href="{%url 'myRequests' %}" class="btn-big btn-plain-alt btn-xxlarge btn-work banner-work">
                    Respond to Requests
                </a>
            </div>  
    <div class="hora-table">
    <br><br>
    </div>

    <br><br><br><br><br>
    
    <h1 class="banner-title">Recently shared carpools</h1>

    <div class="hora-table">
        
    <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Vehicle</th>
                    <th>Route</th>
                    <th>Valid Till</th>
                    <th>Seats</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </tr>
            </thead>
     
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Vehicle</th>
                    <th>Route</th>
                    <th>Valid Till</th>
                    <th>Seats</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </tr>
            </tfoot>
     
            <tbody>

            {% for carpool in carpools %}
                <tr>
                    <td>{{carpool.id}}</td>
                    <td>{{carpool.get_vehicle_type_display}}</td>
                    <td>{{carpool.route}}</td>
                    <td>{{carpool.end_datetime}}</td>
                    <td>{{carpool.occupancy}}</td>
                    {% if 'http://' in carpool.remarks %}
                            <td>{{carpool.remarks | urlize_target_blank }}</td>
                    {% elif 'https://' in carpool.remarks %}
                        <td>{{carpool.remarks | urlize_target_blank}}</td>
                    {% else %}
                    <td>{{carpool.remarks}}</td>
                    {% endif %}
                    <td>
                    <a href="{% url 'viewCarpool' carpool_id=carpool.carpoolref %}"><button class='table-job-check'>Details</button></a>
                    </td>
                </tr>                
            {% endfor %}                
            </tbody>
        </table>

    </div>
    <!-- eo hora-table -->
    </div>
</div>

{% endblock content %}
{% block scripts %}
    
<script>
  $(document).ready(function() {
    $('#example').DataTable( {
      responsive: true,
      "bFilter": false,
      "order": [[ 0, "desc" ]],
      "columnDefs": [
        { "width": "20%", "targets": 3 },
      ]
  } );
} );
</script>
{% endblock %}