{% extends "admin/base.html" %}
{% load pipeline %}
{% load staticfiles %}
{% block localhead %}
{% stylesheet 'home' %}
{% endblock localhead %}
{% block content %}
<div class='container'>
    <div class='banner-container'>
        <div class="row">
        <form action={% url 'carpoolSearchDetail' %} method='POST' role="search">{% csrf_token %}
        <h1 class="banner-title">Where do you want to go ?</h1>
        <div class="input-group">
          <input type="text" name="route" class="typeahead form-control" placeholder="Enter your location of interest for carpooling .... ">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" type="button">Find me a ride!</button>
          </span>
        </div><!-- /input-group -->
        </form>
        </div>
            <div class="col-md-4">
                <a href="{% url 'listAllCarpools' %}" class="btn-big btn-plain-alt btn-xxlarge btn-hire banner-hire">
                    See all carpools
                </a>
            </div>
            <div class="col-md-4">
                <a href="{%url 'createCarpool' %}" class="btn-big btn-plain-alt btn-xxlarge btn-work banner-work">
                    Share a carpool
                </a>
            </div>
            <div class="col-md-4">
                <a href="{%url 'myRequests' %}" class="btn-big btn-plain-alt btn-xxlarge btn-work banner-work">
                    Respond to Requests
                </a>
            </div>  
    <div class="hora-table">
    <br><br>
    </div>


    </div>
</div>

{% endblock content %}
{% block scripts %}
    
    <script>
      $(document).ready(function() {
        $('#example').DataTable( {
          responsive: true,
          "bFilter": false
      } );
    } );
    </script>
{% endblock %}