{% extends "admin/base.html" %}
{% load pipeline %}
{% load staticfiles %}
{% block localhead %}  
{% stylesheet 'signin' %}
{% endblock localhead %}
{% block content %} 

<div class='page-container container list-table'>
<div class="hora-job-form">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <h3>Sign in below!</h3>
      <form class="m-t css-form" role="form" name="form" action="{%url 'signin'%}" method="post" novalidate>{% csrf_token %}
          <div class="form-group" ng-controller="Validation">
              <input type="tel" class="form-control" id="phone" name="phone" ng-model="user.email" placeholder="Phone Number" required />
              <p> 
                  {% if auth_form.phone.errors %}
                    {{ auth_form.phone.errors }}
                  {% endif %}
                  </p>
                  <div class="help-block with-errors"></div>
          </div>
          
          <div class="form-group">
              <input  id="password" type="password" class="form-control" name="password" id="exampleInputPassword1" ng-minlength="6" ng-maxlength="20" placeholder="Password" ng-model="user.password" required />
              <p> 
                {% if auth_form.password.errors %}
                {{ auth_form.password.errors }}
                {% endif %}
                {% if auth_form.errors %}
                    {{ auth_form.non_field_errors }}
                {% endif %}
                  </p>
          </div>
            <button type="submit" class="btn btn-primary btn-block full-width m-b" ng-disabled="form.$invalid || isUnchanged(user)">Login</button>
            <br><p class="text-muted text-center"><small>Don't have an acount yet ? signup using ...</small></p>
            <a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><i class="fa fa-facebook"></i>Facebook</a>
            <a class="btn btn-block btn-social btn-twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"><i class="fa fa-twitter"></i>Twitter</a>
          {% comment %}
            <a class="btn btn-default btn-block" href="{% url 'signup'%}"{>Create an account</a>            
          {% endcomment %}
        <small>Seatkhalicha is powered by <a href="http://www.doorsteps.co">Doorsteps</a> &copy; 2015</small>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>
{% comment %}
  
<p class="m-t"> <small>Questr is powered by <a href="http://earthand.co/en/" target="_blank">Earth and Co</a> &copy; 2014</small> </p>
    <center>
        <h6>Sign in with</h6>
              <a href="{% url 'social:begin' 'facebook' %}"><button class="btn btn-facebook"><i class="fa fa-facebook"></i></button></a>
              <a href="{% url 'social:begin' 'twitter' %}"><button class="btn btn-twitter"><i class="fa fa-twitter"></i></button></a>
            
            
            ## This is for google plus based authentication ##
                {% if plus_id %}
                <form id="google-plus" method="post" action="{% url 'social:complete' 'google-plus' %}">{% csrf_token %}
                  <input id="at" type="hidden" name="access_token" value="" />
                  <input id="code" type="hidden" name="code" value="" />
    
                  <div id="signinButton">
                    <span class="g-signin" data-scope="{{ plus_scope }}"
                                           data-clientid="{{ plus_id }}"
                                           data-redirecturi="postmessage"
                                           data-accesstype="offline"
                                           data-cookiepolicy="single_host_origin"
                                           data-callback="signInCallback">
                    </span>
                  </div>
                </form>
                {% endif %}
            
            
            <a href="{% url 'social:begin' 'google-oauth2' %}"><button class="btn btn-google-plus"><i class="fa fa-google-plus"></i></button></a> 
        </center>
{% endcomment %}
</div>
{% endblock %}
{% block scripts %}
<script src={% static "js/jquery-2.1.1.js" %}></script>
    <script src={% static "js/bootstrap.min.js" %}></script>
{% endblock scripts %}