{% extends "admin/base.html" %}
{% load staticfiles floppyforms %}
{% block localhead %}
{{user_form.media}}
{% endblock localhead %}
{% block content %}
<div class='page-container container list-table'>
	<h1><a href={% url 'home' %} class='link main-back'><</a></h1>

  <h1><span class='jobId'>User Details</span></h1>

    <div class="hora-job-form">
    <div class='row'>
        <div class="col-md-4">
            <form action="" method="post" enctype='multipart/form-data'>{% csrf_token %}
                {% comment %}
                  <div class="form-group">
                    <label>Profile Picture</label><br>
                    <img src="{{user.get_profile_pic}}"></img><br>
                    {% if user.thumbnail_exists %}
                    <input id="profile_image-clear_id" name="profile_image-clear" type="checkbox">
                    <label for="profile_image-clear_id">Remove</label>
                    {% endif %}
                    <input id="id_profile_image" name="profile_image" type="file">
                    {{user_form.profile_image.errors}}
                  </div>
                {% endcomment %}
                <div class="form-group">
                  <label>Name</label>
                  {{user_form.name}}
                  {{user_form.name.errors}}
                </div>
                <div class="form-group">
                  <label>Phone</label>
                  {{user_form.phone}}
                  {{user_form.phone.errors}}
                </div>
                <div class="form-group">
                  <label>Email</label>
                  {{user_form.email}}
                  {{user_form.email.errors}}
                </div>
                {% comment %}
                  <div class="form-group">
                    <label>Displayname</label>
                    {{user_form.displayname}}
                    {{user_form.displayname.errors}}
                  </div>
<div class="form-group">
  <label>City</label>
  {{user_form.city}}
</div>
<div class="form-group">
  <label>Streetadddress</label>
  {{user_form.streetaddress}}
</div>
                {% endcomment %}

                <button type="submit" class="btn btn-default btn-block submit">Update</button>
        </div>
        <div class="col-md-8">
                {# <label>Exact Location on Map</label> #}
                {% comment %}
                  {% widget user_form.address_coordinates %}
                  
                {% endcomment %}
    </div>
    </div>
</div>

{% endblock content %}